/* .map {
  width: 50vw;
  display: block;
} */

.container {
  display: inline-grid;
  grid-template-columns: 800px 50px 200px 50px 200px;
  grid-template-rows: 50px 50px 50px;
  padding: 1.5rem;
  grid-gap: 3rem;
  height: 100vh;
  width: 100vw;
}
